@import "/app/configs/mixins/mixins";

// ===================================
// Mixins for Typography
// ===================================

@mixin heading-text-s003 {
	font-family: $titleFont;
	font-size: 40px;
	font-weight: 600;
	color: $blackSecondary;
	letter-spacing: 2.6px;
	span {
		color: #ea5a1a;
		font-size: 42px;
		letter-spacing: 2.1px;
	}
}

@mixin display-text-s003 {
	font-family: $titleFont;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1.1px;
	span {
		color: #fcc300;
		letter-spacing: 1.1px;
	}

	@media #{$desktop} {
		font-size: 30px;
		text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
	}
}

@mixin card-title-text-s003 {
	font-family: $titleFont;
	font-size: 14px;
	font-weight: 600;
	color: $blackPrimary;
	letter-spacing: 1.12px;

	@media #{$desktop} {
		font-size: 20px;
		color: #2d255e;
		letter-spacing: 1.6px;
	}
}

@mixin card-body-text-s003 {
	font-size: 12px;
	font-weight: 500;
	color: #797979;
	line-height: $lineHeight;

	@media #{$desktop} {
		font-size: 16px;
		color: $blackSecondary;
	}
}

@mixin cta-text-s003 {
	font-size: 14px;
	font-weight: 500;
	color: $blackSecondary;
}

@mixin cta-text2-s003 {
	font-family: $titleFont;
	font-size: 16px;
	font-weight: 500;
	color: $blackSecondary;
}
