// @import "/app/configs/mixins/mixins";

@mixin heading-text-s003 {
	font-family: $fontTitle;
	font-size: 40px;
	font-weight: 600;
	color: $blackSecondary;
	letter-spacing: 2.6px;
	span {
		color: #ea5a1a;
		font-size: 42px;
		letter-spacing: 2.1px;
	}
}

@mixin display-text-s003 {
	font-family: $fontTitle;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1.1px;
	span {
		color: #fcc300;
		letter-spacing: 1.1px;
	}

	@media (min-width: 992px) {
		font-size: 30px;
		text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
	}
}

@mixin card-title-text-s003 {
	font-family: $fontTitle;
	font-size: 14px;
	font-weight: 600;
	color: $blackPrimary;
	letter-spacing: 1.12px;

	@media (min-width: 992px) {
		font-size: 20px;
		color: #2d255e;
		letter-spacing: 1.6px;
	}
}

@mixin card-content-text-s003 {
	font-size: 12px;
	font-weight: 500;
	color: #797979;
	line-height: $lineHeight;

	@media (min-width: 992px) {
		font-size: 16px;
		color: $blackSecondary;
	}
}

@mixin cta-text-s003 {
	font-size: 14px;
	font-weight: 500;
	color: $blackSecondary;
}

@mixin cta-text2-s003 {
	font-family: $fontTitle;
	font-size: 16px;
	font-weight: 500;
	color: $blackSecondary;
}

// ===================================
// Styles
// ===================================

.walk-with-us-home {
	.walk-with-us {
		margin: 10px;
		padding: 11px 10px;
		.walk_us_img {
			position: relative;
			margin-bottom: 7px;
			.mobile_img {
				display: block;
			}
			.web_img {
				display: none;
			}
			.txt-cont {
				position: absolute;
				bottom: 0;
				left: 20px;
				.mobile-txt {
					@include display-text-s003;
					display: block;
					margin-bottom: 5px;
				}
				h3 {
					display: none;
				}
				.rs {
					display: none;
				}
			}
		}
		h2 {
			display: none;
		}
		.plan-journey {
			position: relative;
			.step {
				position: absolute;
				padding: 12px 10px 16px;
			}
			.fade-in {
				opacity: 1;
				transition: opacity 0.5s cubic-bezier(1, 0.1, 0.1, 1);
			}
			.fade-out {
				opacity: 0;
				transition: opacity 0.5s cubic-bezier(1, 0.1, 0.1, 1);
			}
			.card-title {
				@include card-title-text-s003;
				list-style-type: none;
				margin-bottom: 6px;
			}
			.card-content {
				@include card-content-text-s003;
				display: block;
				padding-left: 28px;
			}
		}
		.know-more {
			@include cta-text-s003;
			border: 0.8px solid #656565;
			background-color: #fff;
			padding: 6px 10px;
			text-align: center;
			width: calc(100% - 8px);
			margin: 6px auto 0;
		}
		.become-one {
			display: none;
		}
	}
}

@media (min-width: 992px) {
	.walk-with-us-home {
		padding: 0 60px;
		max-width: 1280px;
		margin: auto;
		.walk-with-us {
			padding: 50px 50px 50px 44px;
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: row;
			margin-top: 42px;
			margin-bottom: 42px;
			.walk_us_img {
				padding: 0;
				width: 60%;
				.mobile_img {
					display: none;
					width: 100%;
				}
				.web_img {
					display: block;
					width: 100%;
				}
				.txt-cont {
					position: absolute;
					left: 0;
					width: 100%;
					.mobile-txt {
						display: block;
						margin-bottom: 9px;
						display: flex;
						justify-content: center;
						width: 100%;
						span {
							display: block;
						}
					}
					p {
						display: none;
					}
					span {
						display: none;
					}
					.rs {
						display: block;
						color: #fff;
						font-size: 16px;
						font-weight: 500;
						line-height: 1.2;
						margin-bottom: 16px;
						display: flex;
						justify-content: center;
						width: 100%;
					}
				}
			}
			h2 {
				@include heading-text-s003;
				position: absolute;
				top: 88px;
				right: 50px;
				display: block;
			}
			.plan-journey {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 50px;
				margin: auto;
				width: 54%;
				.step {
					padding: 36px;
				}
				.card-title {
					margin-bottom: 5px;
				}
				.card-content {
					display: block;
					padding-left: 40px;
				}
			}
			.know-more {
				display: none;
			}
			.become-one {
				position: absolute;
				bottom: 50px;
				right: 50px;
				margin: 0;
				display: flex;
				padding: 10px 18px;
				border-radius: 12px;
				border: 1px solid #ffffff;
				&:hover {
					border: 1px solid #454545;
				}
			}
		}
	}
}
