@import "/app/configs/mixins/mixins";

.card01 {
	&.flexCenter {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&.noFlex {
		flex-shrink: 0;
		flex-grow: 0;
	}
	&.threeCards {
		flex-basis: calc(100% - var(--card-gap) * 2 / 3);
	}
	&.square {
		aspect-ratio: 1 / 1;
	}
}
