
    .icons-container {
        padding-top: 20px;

        .icon {
            color: #999999;

            &:hover {
                color: black;
            }
        }
    }

    .layers-container {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;

        .layer-container {
            margin-bottom: 4px;

            .layer {
                margin: 5px;
                width: 164px;
                min-height: 30px;
                border: none;
                background-color: #ffffff;
                transition:
                    background-color 0.2s ease,
                    color 0.2s ease;

                Trigger open state &[data-state="open"] {
                    background-color: #0099fe; // blue
                    color: #ffffff;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
            }

            Content open state background [data-state="open"] + .layer {
                background-color: #e6f4ff !important;
            }

            Or
                target
                Accordion.Content
                specifically
                .layer[data-state="open"]
                + .layer,
            .layer[data-state="open"] + [data-radix-accordion-content] {
                background-color: #e6f4ff !important;
            }
        }
    }

    .button {
        border-top: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;

        .text-container {
            background-color: #fff;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            cursor: pointer;
            padding: 0 8px;

            .button-text {
                font-weight: 600;
                font-size: 12px;
                font-family:
                    system-ui,
                    -apple-system,
                    sans-serif;
            }

            .toggle-icon {
                transition: transform 0.3s ease;
            }

            .toggle-icon.open {
                transform: rotate(180deg);
            }
        }

        // .dropdown {
        //     display: flex;
        //     flex-direction: column;
        //     padding: 10px 12px;
        //     // background: #f1f1f1;
        //     transition: all 0.3s ease;
        //     gap: 6px;

        //     p {
        //         font-family:
        //             system-ui,
        //             -apple-system,
        //             BlinkMacSystemFont,
        //             "Segoe UI",
        //             Roboto,
        //             Oxygen,
        //             Ubuntu,
        //             Cantarell,
        //             "Open Sans",
        //             "Helvetica Neue",
        //             sans-serif;
        //         font-size: 12px;
        //         font-weight: 500;
        //         margin: 0;
        //         color: #666666;
        //         padding: 4px 8px;
        //         border-radius: 4px;
        //         cursor: pointer;
        //         transition: background 0.2s ease;

        //         &:hover {
        //             background: #e2e2e2;
        //         }
        //     }
        // }
    }


.css-panel {
	padding-top: 15px;
    .textarea {
		resize: none;
        width: 100%;
        border-color: #eee;
        // border: none;
		padding: 8px;
    }
}
