// @import "/app/configs/mixins/mixins";
.s016 {
	@media (min-width: 992px) {
		display: flex;
	}
	.image {
		justify-self: center;
		width: calc(100% - 30px);
		margin: 15px;
		background-color: #000;
		height: 185px;
		max-width: 1280px;
		margin-top: 45px;

		@media (min-width: 480px) {
			width: calc(100% - 60px);
			margin: 30px;
			height: 451px;
		}

		@media (min-width: 992px) {
			// width: calc(63.5% - 30px);
			max-width: 63 .5%;
			display: flex;
			height: 376px;
			justify-self: right;
			margin-bottom: 15px;
		}
	}
	.textContainer {
		@media (min-width: 992px) {
			max-width: 30.5%;
			margin-left: 30px;
		}
	}
	.accentText {
		margin-top: 50px;
		text-shadow: 0px 1px 1px #0003;
		color: #1a1b1f;
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 10px;
		line-height: 20px;
		letter-spacing: 1px;
		text-align: center;
		opacity: 0.6;
		
		@media (min-width: 992px) {
			text-align: left;
		}
	}
	.heading {
		color: #1a1b1f;
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 50px;
		font-weight: 400;
		text-align: center;
		justify-self: center;
		text-shadow: 0px 1px 1px #0003;

		@media (min-width: 480px) {
			font-size: 36px;
			line-height: 50px;
		}

		@media (min-width: 992px) {
			font-size: 36px;
			line-height: 50px;
			max-width: 80%;
			text-align: left;
			justify-self: left;
		}
	}
	.subheading {
		justify-self: center;
		font-size: 16px;
		color: #1a1b1f;
		opacity: 0.6;
		font-weight: 450;
		max-width: 90%;
		text-align: center;
		line-height: 28px;
		margin-bottom: 17px;

		@media (min-width: 480px) {
			max-width: 90%;
			font-size: 16px;
			line-height: 28px;
			font-weight: 400;
		}

		@media (min-width: 992px) {
			font-size: 16px;
			line-height: 28px;
			font-weight: 400;
			text-align: left;
			justify-self: left;
			max-width: 95%;
		}
	}
	.button {
		color: #fff;
		flex-direction: row;
		height: 44px;
		width: 153px;
		background-color: #1a1b1f;
		display: flex;
		text-align: center;
		justify-content: center;
		margin-top: 30px;
		font-weight: 400;
		font-size: 12px;
		font-family: sans-serif;
		border: solid #1a1b1f;
		justify-self: center;
		@media (min-width: 992px) {
			justify-self: left;
		}
	}
}
