.accordion-root {
    padding-top: 15px;
    .accordion-item {
        border-radius: 8px;
        .accordion-header {
            background-color: #0099ff;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .accordion-trigger {
                font-size: 12px;
                height: 30px;
                padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .accordion-chevron {
                    transition: transform 0.1s ease;
                    transform: rotate(-90deg);
                }
                &[data-state="open"] .accordion-chevron {
                    transform: rotate(0deg);
                }
            }
        }
        .accordion-content {
            background-color: rgba(0, 153, 255, 0.1);
            .accordion-content-text {
                // overflow: hidden;
                // transition: max-height 0.3s ease;
            }
        }
    }
}
