// ===================================
// Mixins for Headings
// ===================================

$headingColor: $blackPrimary;
$spanColor: $brandColor1;

.sectionHeadingText {
	font-family: $fontTitle;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: $headingColor;
	span {
		color: $spanColor;
	}

	@media #{$desktop} {
		font-size: 30px;
	}
}

$subheadingColor: $blackSecondary;

.sectionSubheadingText {
	font-family: $fontPrimary;
	font-size: 12px;
	font-weight: 500;
	color: $subheadingColor;
	line-height: $lineHeight;

	@media #{$desktop} {
		font-size: 18px;
	}
}

// ===================================
// Mixins for Body Texts
// ===================================



// ===================================
// Mixins for CTA Texts
// ===================================

@mixin button-text1 {
	font-family: $fontTitle;
	font-size: 16px;
	font-weight: 600;

	@media #{$desktop} {
		font-size: 20px;
	}
}
