@import "/app/configs/mixins/mixins";

.button01 {
	display: flex;
	align-items: center;
	
	transition-property: background-color, opacity, color;
	transition-duration: 400ms, 400ms, 400ms;
	transition-timing-function: ease, ease, ease;

    &:hover {
        background-color: #32343a;
    }

    &:active {
        background-color: #43464d;
    }
}
