// @import "/app/configs/mixins/mixins";

@mixin title-text-s002 {
	font-family: $fontTitle;
	font-size: 30px;
	font-weight: 600;
	color: $blackSecondary;
	line-height: $lineHeight;
}

@mixin body-text-s002 {
	@media (min-width: 992px) {
		font-size: 16px;
		font-weight: 500;
		color: $blackSecondary;
		line-height: $lineHeight;
	}
}

@mixin secondary-text-s002 {
	font-size: 16px;
	font-weight: 500;
	color: #656565;
	line-height: 1.4;
}

// ===================================
// Styles
// ===================================

.youtube_home {
	padding: 38px 24px 20px;
	.text_container {
		display: none;
	}
	iframe {
		display: block;
		border-radius: 8px;
		margin-bottom: 20px;
		margin-top: 20px;
		width: 100%;
		height: 180px;
	}
}

@media (min-width: 992px) {
	.youtube_home {
		position: relative;
		height: 375px;
		max-width: 1280px;
		margin: auto;
		.text_container {
			display: block;
			left: 80px;
			width: 250px;
			h4 {
				@include title-text-s002;
				margin-top: 32px;
				width: 328%;
				padding-left: 80px;
				margin-bottom: 0;
				span {
					color: #ea5a1a;
				}
			}
			.para1 {
				@include body-text-s002;
				display: block;
				margin-left: -14px;
				padding-left: 98px;
				width: 228%;
				margin-bottom: 12px;
			}
			.para2 {
				@include secondary-text-s002;
				display: block;
				width: 181%;
				padding-left: 83px;
			}
		}
		iframe {
			border-radius: 8px;
			width: 50%;
			max-width: 50%;
			position: absolute;
			right: 60px;
			top: -45px;
			height: 100%;
		}
	}
}
