@import "/app/configs/mixins/mixins";

// ===================================
// Variables
// ===================================

// ===================================
// Mixins
// ===================================

// ===================================
// Styles
// ===================================

.cardGrid {
	padding: 14px 0 12px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	.card {
		
	}
}