// @import "/app/configs/mixins/mixins";

.s013 {
    
    .hyperlink {
        
        &:hover {
            background-color: #f7f8f9;
            color: rgba(26, 27, 31, 0.75);
        }
		&:active {
			background-color: #eef0f3;
		}
		&:current {
			opacity: 0.7;
			color: #32343a;
		}
    }

}
