$desktop: "(min-width: 576px)";

$primaryFont: var(--font-montserrat);
$titleFont: var(--font-manrope);

$lineHeight: normal;

$background: #ffffff;
// $foreground: #171717;

$blackPrimary: #252525;
$blackSecondary: #454545;

$brandColor1: #ea5a1a;
$brandColor2: #fcc300;
$brandColor3: #2d255e;
